---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('December 09 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
    I'm Guido Tarsia and also:
	</p>
  <ul>
    <li>Fullstack developer based in Brazil.</li>
    <li>Father of two and married.</li>
    <li>Shader enthusiast</li>
  </ul>

	<p>
    That's pretty much it.
	</p>
</Layout>
