/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* the following switch imports have selectors that enable the override of the system setting */
@import "https://unpkg.com/open-props/theme.light.switch.min.css";
@import "https://unpkg.com/open-props/theme.dark.switch.min.css";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Grenze+Gotisch:wght@100..900&display=swap');

/* Base styles */
html {
  /*font-family: var(--font-neo-grotesque);*/
  /*font-family: var(--font-rounded-sans);*/
  font-display: optional;
}

p {
  font-family: "Space Grotesk";
  word-spacing: 3px;
  letter-spacing: .0em;
  font-size: var(--font-size-fluid-1);
  margin-bottom: var(--size-7);
  line-height: var(--font-lineheight-2);
  font-weight: var(--font-weight-3);

  /*font-family: Syne;*/
  /*word-spacing: 3px;*/
  /*letter-spacing: .025em;*/
  /*font-size: var(--font-size-fluid-1);*/
  /*margin-bottom: var(--size-6);*/
  /*line-height: var(--font-lineheight-2);*/
  /*font-weight: var(--font-weight-2);*/
}

h1, h2, h3, h4, h5 {
  font-family: "Cormorant Garamond";
  max-inline-size: initial;
  font-size: var(--font-size-fluid-3);
  margin-bottom: var(--size-8);
  font-weight: var(--font-weight-3);
}

a {
  background: linear-gradient(to right, var(--cyan-5), var(--purple-5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For Firefox */
  background-clip: text;
  color: transparent;
  filter: blur(0px) brightness(125%) hue-rotate(0deg);
  display: inline-block;
}

a:hover {
  animation: rainbow 1s linear infinite,
    fat 1s linear infinite alternate,
    shake 10s ease-in-out infinite;
  text-decoration: none;
}

@keyframes rainbow {
  0% {
    filter: blur(.0px) brightness(125%) hue-rotate(0deg);
  }
  100% {
    filter: blur(.0px) brightness(125%) hue-rotate(-360deg);
  }
}

@keyframes fat {
  from {
    text-shadow: none;
    font-weight: 300;
  }
  to {
    text-shadow: 0 0 100px #ff00ff;
    font-weight: 600;
  }
}
@keyframes shake {
  0%   { transform: translate(0px, 0px) rotate(0deg) skew(0deg, 0deg); }
  30%  { transform: translate(-1px, 1px) rotate(-1deg) skew(-1deg, 1deg); }
  60%  { transform: translate(1px, 1px) rotate(1deg) skew(10deg, -1deg); }
  90%  { transform: translate(-1px, -1px) rotate(0.5deg) skew(-1deg, 1deg); }
  100% { transform: translate(0px, 0px) rotate(0deg) skew(0deg, 0deg); }
}

main {
  margin: 0 auto;
  max-width: var(--size-md);
  padding-top: var(--size-8);
}
